* {
    padding: 0;
    margin: 0;
}

header {
    width: 100%;
    height: 120px;
    background-color: #010138;
    position: absolute;
}

header .logo {
    color: black;
    font-size: 1px;
    font-weight: bolder;

}

header .logo i {
    color: black;

}

header div {
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;

}

/* este é o cabeçalho todas as configurações de posições das opções para os usuarios estão aqui*/

header .logo {
    color: black;
    font-size: 1px;
    font-weight: bolder;
}

header .logo i {
    color: black;
}

header .cabeçalho-link {
    padding-left: 100px;
    cursor: pointer;
    gap: 3rem;
    display: flex;
    padding-top: 20px;
    font-weight: 500;
    border-radius: 5rem;
    color: aliceblue;

}

header .cabeçalho-link a {
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 4rem;
    font-size: 1.7rem;
}

.card {
    background-image: linear-gradient(45deg, #007FBF, #005580, #00AAFF, #002A40, #0198E6);
    padding: 20px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px rgb(0, 0, 0);

}

.card:hover {
    box-shadow: 10px;
    color: black;

}

.card-title {
    font-family: 'Vyper Bold Expanded', sans-serif;
    font-size: 26px;
    color: #DAA520;
}

.card-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list-group-item {
    font-size: 18px;
    font-family: 'Stencil Army WW I', sans-serif;
}

button {
    background-color: #FFCC15;
    color: rgb(0, 0, 0);
    padding: 5px;
    width: 150px;
    border-radius: 15px;
    font-family: 'MrRobot', sans-serif; 
    font-size: 15px;
    cursor: pointer;
}

/* margem e bordas modificadas, para possuir um formato mais oval, incluindo aqui também a cor preta para as letras*/

button:hover {
    background-color: rgb(99, 78, 0);
    color: #FFCC15;
}

/* quando o usuario passar o cursor em cima de cada opção, ele mudará de cor*/

.logo {
    /*para pode adicionar a logo do meu site*/

    height: 100px;
    width: 60px;
    padding-top: 49px;
    padding-left: 720px;
    padding-right: 220px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;

}

.icones {
    height: 100px;
    cursor: pointer;
    gap: 1rem;
    display: flex;
    border-radius: 5rem;

}

header .icones i,
header .icones a {

    cursor: pointer;
    height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 40px;
    border-radius: 50%;
    padding: 5rem, 1.5rem;
    line-height: 4.5rem;


}

header .icones i:hover,
header .icones a:hover {
    transform: rotate(360deg);
    border-radius: 20px;
    transition: 0.5s all;

}


.sobre .row .content .icones-container .icones span {
    font-size: 1.5rem;
    color: var(black);
}

#backgroundFoto {
    padding-top: 120px;
    width: 100%;
    height: 90%;
    object-fit: cover;
    display: flex;
}

#backgroundFoto img {
    width: 100%;
}

#backgroundFoto #tituloIndex {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
}

#infosIndex {
    display: flex;
    justify-content: space-between;
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 60px;
}

#infosIndex section {
    width: 25%;
    text-align: center;
}

#botaoSaibaMais {
    text-align: center;
    margin: 20px;
}

#inscIndex {
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 60px;
}

#inscIndex img {
    height: 100%;
    max-width: 50%;
    float: left;
    object-fit: cover;
    border-radius: 10px;

}

#inscIndex div {
    float: right;
    width: 50%;
    padding-left: 20px;
}

#muleta {
    clear: both;
}


#escuro {
    display: none;
    background-color: rgb(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

#listaEspera {
    background-color: white;
    width: 50%;
    height: 80%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

/*lista de espera*/
#escuro {
    display: none;
    background-color: rgb(0, 0, 0, .5);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

#listaEspera {
    background-color: #8B8989;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

#listaEspera #botaoCep {
    margin-top: 32px;
}

#listaEspera form {
    padding: 30px;
    background: white;
}
#tituloEspera {
    font-family: 'Failed Attempt', sans-serif;
    font-size: 46px;
    color: #00FFFF
 }

#listaEspera div {
    margin-bottom: 10px;
}

#listaEspera h3 {
    text-align: center;
    margin-top: 25px;
}

#listaEspera p {
    text-align: center;
}

#listaEspera .btn-outline-info {
    color: #000000;
    border-color: #000000;
}

#listaEspera a {
    float: right;
    top: 10px;
}

#ok {
    position: fixed;
    background-color: #ffffff;
    width: 350px;
    height: 180px;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    padding: 30px;

}

#invalido {
    text-transform: uppercase;

}

#fecharListaEspera {
    margin-top: 20px;
    margin-right: 20px;
}

/*fim lista de espera*/

#sobreIndex {
    position: absolute;
    color: #ffffff;
    width: 60%;
    text-align: justify;
    line-height: 30px;

}

#backgroundFoto {
    display: flex;
    justify-content: center;
    align-items: center;

}



@media (max-width:768px) {

    header .cabeçalho-link {
        display: list-item;
    }

    header .icones {
        display: list-item;

    }

    header .logo {
        display: auto;
        max-width: 200px;
        margin: auto;
    }

    header .backgroundFoto {
        max-width: 200px;
        margin: auto;
    }

}

/*rodapé da pagina*/

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.footer-bottom{
    background: #0f3e3f;
    color: white;
    width: 100vw;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-bottom p{
float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
.footer-menu{
  float: right;

}
.footer-menu ul{
  display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
  color: #cfd2d6;
  text-decoration: none;
}
.footer-menu ul li a:hover{
  color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
}
}

.footer-content, .footer-image{
    margin-top: 20px;
    background-color: gray;
}


.footer-image{
    width: 35%;
    margin: auto;
    display: block;
    size: 35px;
}

html, body {
    min-height: 100%;
}
body {
    padding: 0;
    margin: 0;
}
        
.footer-content, .footer-image {
    bottom: 0;
    background-color: #010138;
    color: #FFF;
    width: 100%;
    height: 10%;    
    text-align: center;
    line-height: 100px;
}